/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    font-style: normal;
    line-height: normal;
}

/*header*/
/*header {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

header .logo_size {
    width: 196px;
    height: 33px;
    margin: 14px 0 13px 0;
}*/

/* Section 1 - Location */

.location {
    display: flex;
    height: 50px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    width: 12px;
    height: 16px;
    color: #353535;
    margin-right: 17px;
}

.location h4 {
    color:#353535;
    font-size: 16px;
    font-weight: 500;
}

/** Section 2 - presentation **/

.presentation {
    display: flex;
    flex-flow: wrap column;
    background: #f6f6f6;
    align-items: center;
    text-align: center;
    padding: 40px 0 30px 0;
}

.presentation h2 {
    width: 100%;
    margin-bottom: 18px;
}

.presentation h4 {
    width: 100%;
    margin-bottom: 18px;
}

.presentation button {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: white;
    padding: 13px 18.75px;
    border-radius: 50px;
    border: none;
    box-shadow: 4px 4px 2px lightgrey;
    width: 218px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
}
/*** Section 3 - steps ***/

/**** Section 4 - restaurants ****/

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 22px 25px;
}

footer h5 {
    font-family: "shrikhand";
    color: white;
    font-size: 18px;
    font-weight: 400;
    gap: 16px;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    width: 190px;
    gap:7px;
}

.fa-utensils {
    width: 11px;
    height: 13px;
    margin-right: 11px;
}

.fa-handshake-angle {
    width: 12px;
    height: 13px;
    margin-right: 10px;
}

/***** Media Queries *****/

@media (min-width: 768px) {
    
}