/*import fichiers scss*/

@import "./base/colors";
@import "./utils/mixin";
@import "./utils/helpers";
@import "./pages/page-restaurant";

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "roboto", sans-serif;
    font-style: normal;
    line-height: normal;
}

.main {
    margin: 0;
    padding: 0;
    @extend %flexbox-center;
    flex-direction: column;
}
// loader

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #9356dc;
    border-left: 16px solid #ff79da;
    border-right: 16px solid #99e2d0;
    border-bottom: 16px solid #9356dc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader_logo{
    height: 30px;
    width: 70px;
    animation: spinlogo 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spinlogo {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.loader-container {
    background-color: white;
    z-index: 666;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: 0.2s linear 1s spinner-container;
    animation-fill-mode: forwards; 
}
  
@keyframes spinner-container {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
      display: none;
    }
}

/*header*/
.header {
    @extend %flexbox-center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &_logo_size {
        width: 196px;
        height: 33px;
        margin: 14px 0 13px 0;
    }
}

/* Section 1 - Location */
.location {
    @extend %flexbox-center;
    height: 50px;
    background-color: #EAEAEA;
    & input {
        font-family: "Roboto";
        color:#353535;
        font-size: 16px;
        font-weight: 500;
        width: 109px;
    }
}

.fa-location-dot {
    width: 12px;
    height: 16px;
    color: #353535;
    margin-right: 17px;
}

/** Section 2 - presentation **/
.presentation {
    display: flex;
    flex-flow: wrap column;
    background: #f6f6f6;
    align-items: center;
    text-align: center;
    padding: 40px 0 30px 0;
}

.presentation h2 {
    width: 100%;
    margin-bottom: 18px;
}

.presentation h4 {
    width: 100%;
    margin-bottom: 18px;
}

.presentation button {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: white;
    padding: 13px 18.75px;
    border-radius: 50px;
    border: none;
    box-shadow: 4px 4px 2px lightgrey;
    width: 218px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
    &:hover {
        @include button-hover;
    }
}

/*** Section 3 - Process / steps ***/
.process__contain {
    padding: 25px 0;
    width: 100%;
    background: white;
    @extend %flexbox-center;
    flex-direction: column;
}

.process {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 0;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
    }
        &__number {
                background-color: $color-primary;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
        &__text {
            margin: 16px 0;
        }
    &__steps {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.fa-store {
    color: $color-primary;
}

/**** Section 4 - restaurants ****/
.restaurants {
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    max-width: 1440px;
    @extend %flexbox-center;
    flex-direction: column;
        & h2 {
            padding: 20px 0;
            width: 100%;
            align-items: flex-start;
        }
    & a {
        text-decoration: none;
        color: #353535;
    }
}

.restaurants-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
    padding-bottom: 50px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    background-color: white;
    &_img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    & figcaption {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        @extend %flexbox-center;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #99e2d0;
        color: #008766;
        width: 80px;
        height: 29px;
    }
    &_content {
        width: 100%;
        padding-top: 16px;
        padding-left: 3.82%;
        padding-bottom: 12px;
        height: 30.3%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        & a {
            width: 100%;
        }
    }
    &_text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
    }
}

.favorite-selected {
    cursor: pointer;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fav 1s 1;
}

.heart {
    font-size: 22px;
}
.restaurants .heart {
    margin-top: 7px;
    margin-right: 25px;
    flex-shrink: 0;
}

.favorite-restaurants {
    margin-right: 7.03%;
}
  
.unfilled-heart {
    cursor: pointer;
}
  
/* Initial styles for the unfilled-heart */
input[type=checkbox]:not(:checked) ~ .favorite-restaurants .unfilled-heart {
    display: block;
}
  
/* Initial styles for the filled-heart */
input[type=checkbox]:not(:checked) ~ .favorite-restaurants .filled-heart {
    display: none;
}
  
/* Styles when the checkbox is checked */
input[type=checkbox]:checked ~ .favorite-restaurants .unfilled-heart {
    display: none;
}
  
/* Styles when the checkbox is checked */
input[type=checkbox]:checked ~ .favorite-restaurants .filled-heart {
    display: block;
}

input[type=checkbox] {
    display: none;
}

/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 22px 25px;
    &_title {
        font-family: "shrikhand";
        color: white;
        font-size: 18px;
        font-weight: 400;
        gap: 16px;
    }
    &_text {
        font-size: 16px;
        font-weight: 500;
        width: 190px;
        gap:7px;
        & a{
            text-decoration: none;
            color: white;
        }
    }
}

.fa-utensils {
    width: 11px;
    height: 13px;
    margin-right: 11px;
}

.fa-handshake-angle {
    width: 12px;
    height: 13px;
    margin-right: 10px;
}

/***** Media Queries *****/

@media (min-width:768px) {

    body {
        max-width: 1440px;
        margin: 0 auto;
    }

    .process__steps {
        flex-direction: row;
    }

    .process__step {
        width: 322px;
    }

    .restaurants h2{
        max-width: 1200px;
    }

    .restaurants-title {
        padding-top: 24px;
        margin-bottom: 21px;
    }

    .restaurants-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 100px;
        row-gap: 50px;
        padding-bottom: 10px;
    }

    .card img {
        width: 499px;
        height: 231px;
    }

    .restaurants-card {
        height: 251px;
    }

    .footer {
        flex-direction: row-reverse;
        padding: 30px 25px;
        gap: 7px
    }

    .footer_title {
        width: 139px;
        height: 27px;
        justify-content: center;
        align-items: center;
    }

    .footer_text.long {
        width: 190px;
        height: 19px;
    }

    .footer_text.short {
        width: 130px;
        height: 20px;
    }

    .footer :nth-child(1) {order: 1;}
    .footer :nth-child(2) {order: 4;}
    .footer :nth-child(3) {order: 3;}
    .footer :nth-child(4) {order: 2;}
    .footer :nth-child(5) {order: 1;}
}